.DS_Store
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.python-version
.pytest_cache/
.coverage
.coverage.*
htmlcov/
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
share/python-wheels/
MANIFEST
.mypy_cache/
.ruff_cache/
*.log
.vscode/
.idea/
node_modules/
coverage.xml


