name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

  workflow_dispatch:
  schedule:
    - cron: '45 2 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: alpine
            platform: linux/amd64,linux/arm64
          - image: centos
            platform: linux/amd64,linux/arm64
          - image: debian
            platform: linux/amd64,linux/arm64
          - image: fedora
            platform: linux/amd64,linux/arm64
          - image: ubuntu
            platform: linux/amd64,linux/arm64
          - image: archlinux
            platform: linux/amd64

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: ./ci-helpers/build.sh
        env:
          IMAGE: ${{ matrix.image }}
          PLATFORM: ${{ matrix.platform }}
          SOURCE_IMAGE: ${{ matrix.source_image }}
          SKIP_REMOVE: false
          DOCKER_PUSH: "${{ github.ref == 'refs/heads/master' && '--push' || '' }}"
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
